<template>
	<div class="container information-step">
		<div class="row">
			<div class="col-sm-12">
				<p class="text-muted o">Welcome! Let's book a room you'll love.</p>
                <p class="text-muted o">Please provide  us with the information started below, we will handle the data with care.</p>
                <br>
                <hr>
                <br>
			</div>
			<div class="col-sm-2">
                <div class="form-group radios">
                	
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="John" checked> Mr.
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="Jane""> Ms.
                    </label>
                </div>
            </div>
        	<div class="col-sm-5">
                <div class="form-group">
                    <label for="usr" class="text-muted">First name:</label>
                    <input type="text" class="form-control" id="usr" placeholder="John">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="pwd" class="text-muted">Last name:</label>
                    <input type="text" class="form-control" id="pwd" placeholder="Doe">
                </div>
            </div>

            <div class="col-sm-4">
            	<div class="form-group">
                    <label for="ded" class="text-muted">Departure Date:</label>
                    <input type="date" class="form-control" id="ded"">
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="form-group">
                    <label for="red" class="text-muted">Return Date:</label>
                    <input type="date" class="form-control" id="red">
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="form-group">
            		<label for="rooms" class="text-muted">Rooms:</label>
		        	<select name="rooms" id="rooms" class="form-control">
		        		<option value="1" selected>
		        			1 Room
		        		</option>
		        		<option value="2">
		        			2 Rooms
		        		</option>
		        		<option value="3">
		        			3 Rooms
		        		</option>
		        		<option value="4">
		        			4 Rooms
		        		</option>
		        	</select>
           		</div>
            </div>
        </div>
        <br>
        <hr>
        <div class="send-button">
        	<a href="#">Cancel</a>	&nbsp;	
        	<button type="button" class="btn btn-success" @click="nextStep()">
        		Send <span class="glyphicon glyphicon-send"></span>
     		</button>
        </div>
        <br>
	</div>
</template>

<script>
	export default {
		name: 'InformationStep',
		props: {
			hotel: {
					type: Object,
					required: true,
				},
		},

		data() {
			return {};
		},

		methods: {
			nextStep() {
				this.$emit('nextstep');
			}
		},
	}
</script>

<style>
	.information-step {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-top: 80px;
		padding: 50px;
	}


	.text-muted {
		margin-bottom: 5px;
	}

	.o {
		font-size: 11pt;
	}
</style>