<template>
	<div>
		<div class="container room-step">
			<div class="row">
				<div class="col-sm-6">
					
				</div>
				<div class="col-sm-6">
					<h5>Excutive Room</h5>
					<br>
					<div class="text-muted row">
						<div class="col-sm-1">
						<i class="fas fa-expand"></i>
						</div><div class="col-sm-11"> 19m&sup2;</div>
					</div>
					<div class="text-muted row">
						<div class="col-sm-1">
						<i class="fas fa-bed"></i>
						</div><div class="col-sm-11"> Kingsize Bed, 2 Person</div>
					</div>
					<div class="text-muted row">
						<div class="col-sm-1">
						<i class="fas fa-coffee"></i>
						</div><div class="col-sm-11"> Breakfast included</div>
					</div>
					<div class="text-muted row">
						<div class="col-sm-1">
						<i class="fas fa-utensils"></i>
						</div><div class="col-sm-11"> Dinner excluded&nbsp; <i class="fas fa-plus"></i>&nbsp; <i class="fas fa-info-circle"></i></div>
					</div>
					<div class="text-muted row">
						<div class="col-sm-1">
						<i class="fas fa-wifi"></i>
						</div><div class="col-sm-11"> Wifi excluded&nbsp; <i class="fas fa-plus"></i>&nbsp; <i class="fas fa-info-circle"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'RoomStep',
		props: {
			hotel: {
					type: Object,
					required: true,
				}
			
		},

		data() {
			return {};
		},

		methods: {
			nextStep() {
				this.$emit('nextstep');
			}
		},
	}
</script>

<style>
	.room-step {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-top: 80px;
		padding: 50px;
	}


	.text-muted {
		margin-bottom: 5px;
	}

	.o {
		font-size: 11pt;
	}
</style>