
body {
}

.navbar {
    margin-bottom: 0;
    border: 0px;
}

.content {
    margin-top: 0px;
}

.container {
    margin-top: 0px;
    text-align: left;
}

.container-fluid {
    background-color: white;
}

footer .container {
    background-color: #d0cfcf
}

h1 {
    font-weight: bold;
    margin-top: 70px;
    font-size: 2rem
}

h2 {
    color: #42b983;
    margin-top: 0;
    font-size: 1.5rem;
}

.jumbotron {
    background-color: white;
    border-bottom: 2px;
}

footer {
    background-color: #d0cfcf;
    padding-top: 50px;
    padding-bottom: 75px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -5px;
}

.company {
    color: #337ab7;
    font-weight: normal;
}

.picture {
    height: 450px;
    width: 100%;
    background-color: #ff9999;
}

.headertext {
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
}

.custom {
    background-color: white;
    padding: 20px;
    
}

select option[disabled]:first-child {
    display: none;
}

.custombutton {
    width:122px;
}

.customcontainer {
    margin-bottom: 250px;
}

.contactus {
    padding-bottom: 200px;
    height: 688px;
}

.top {
    margin-top: 5px;
}

.rating {
    margin-top: 70px;
    padding-left: 13px;
}

.headertop {
    margin: 20px 0px 100px 0px;
    height: 100%;
	margin-bottom: 80px;
}

.city {
    width: 300px;
}

.stars {
    width: 100px;
}

.text-muted {
	margin-bottom: 1em;
	line-height: 1.6;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-sm {
  width: 44px;
  height: 44px;
  padding: 0px 0px;
  font-size: 17px;
  text-align: center;
  line-height: 1.33;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 6px;
}

.btn-default {
	background-color: #ccc;
	color: #a4a4a4;
}

.btn-default:hover {
    color: #333;
    background-color: #ccc;
    border-color: #ccc;
}

h3 {
	margin-bottom: 1em;
}

.middle {
	text-align: center;
	margin-top: 130px;
	margin-bottom: 65px;
}

.wegot {
	font-size: 26pt;
}

.mainsection {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 110px;
    margin-top: 35px;
    box-shadow: 0 -12px 8px -25px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}

.mainsection .text-muted {
    margin: 0px;
}

.conventionname {
    font-size: 18pt;
    margin-top: 0px;
    margin-bottom: 8px;
}

.sectionhgh .circle{
    float: left;
    width: 50px;
    height: 50px;
    padding: 0px 20.5px;
    color: white;
    font-size: 18px;
    line-height: 0.95;
    border-radius: 25px;
    background-color: #cccccc;
    margin-right: 10px;
}

.sectionhgh p{
    margin-bottom: -2px;
    font-size: 17px;
    font-weight: bold;
    color: #535353;
}

.sectionhgh small{
    font-size: 12px;
    color: #bebebe;
}

.sectionun .circle{
    float: left;
    width: 50px;
    height: 50px;
    padding: 11.5px 19.5px;
    color: #bebebe;
    font-size: 18px;
    line-height: 0.95;
    border-radius: 25px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
}

.sectionun p{
    margin-bottom: -2px;
    font-size: 17px;
    font-weight: bold;
    color: #bebebe;
}

.sectionun small{
    font-size: 12px;
    color: #bebebe;    
}

.sectioncmp .circle{
    float: left;
    width: 50px;
    height: 50px;
    padding: 12px 20.5px;
    color: white;
    font-size: 18px;
    line-height: 0.95;
    border-radius: 25px;
    background-color: #42b983;
    margin-right: 10px;
}

.sectioncmp p{
    margin-bottom: -2px;
    font-size: 17px;
    font-weight: bold;
    color: #bebebe;
}

.sectioncmp small{
    font-size: 12px;
    color: #bebebe;    
}

.activity {
    margin-top: 50px;
}

.send-button {
    float: right;
}

.radios {
    margin-top: 38px;
}

.area {
    height: 100px;
}