<template>
<div>
	<div class="container">
		<div class="row activity">
		
	        <div class="col-sm-4">
	            <div class="sectionhgh">
	                <div class="circle">
	                    1
	                </div>
	                <p>
	                    Select a date
	                </p>
	                <small>
	                    Choose the length of your stay
	                </small>
	            </div>
	        </div>
	        <div class="col-sm-4">
	            <div class="sectionhgh">
	                <div class="circle">
	                    2
	                </div>
	                <p>
	                    Pick a Room
	                </p>
	                <small>
	                    Choose a room which fits your needs
	                </small>
	            </div>
	        </div>
	        <div class="col-sm-4">
	            <div class="sectionhgh">
	                <div class="circle">
	                    3
	                </div>
	                <p>
	                    Finish Reservation
	                </p>
	                <small>
	                    Check and confirm your reservation
	                </small>
	            </div>
	        </div>
	    </div>
    </div>
    <h1>The Student Hotel The Hague</h1>

    <information-step :hotel="{}" v-if="steps === 1" @nextstep="increaseStep"/>
    <room-step :hotel="{}" v-if="steps === 2" @nextstep="increaseStep"/>
    <finish-step :hotel="{}" v-if="steps === 3" @nextstep="increaseStep"/>

</div>
</template>

<script>
import InformationStep from '@/steps/InformationStep.vue'
import RoomStep from '@/steps/RoomStep.vue'
import FinishStep from '@/steps/FinishStep.vue'



	export default {
		name: 'booking',



		components: {
			InformationStep,
			RoomStep,
			FinishStep
		},


		data() {
			return {
				steps: 1,
				highlight: "sectionhgh",
				unavailable: "sectionun",
				completed: "sectioncmp"		
			};
		},

		methods: {
			increaseStep() {
				this.steps += 1;
			}
		}



	}

</script>