<template>
	<section>
		
            <div class="container contactus">
                <h1>Contact Us</h1>
                <h2>Feel free to send us a message</h2><br><br>
				<alert-message v-if="message !== ''" :message="message"></alert-message>
				<div class="row">
	                <div class="col-sm-2">
	                    <div class="form-group radios">
	                    	
	                        <label class="radio-inline">
	                            <input type="radio" name="optradio" value="John" v-model="formData.firstName.placeholderValue" checked> Mr.
	                        </label>
	                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                        <label class="radio-inline">
	                            <input type="radio" name="optradio" value="Jane" v-model="formData.firstName.placeholderValue"> Ms.
	                        </label>
	                    </div>
	                </div>
	                <div class="col-sm-5">
	                    <div class="form-group">
	                        <label for="usr">First name:</label>
	                        <input type="text" :class="{'is-invalid': isInvalid('firstName')}" class="form-control" id="usr" :placeholder="formData.firstName.placeholderValue" v-model="formData.firstName.value">
	                    </div>
	                </div>
	                <div class="col-sm-5">
	                    <div class="form-group">
	                        <label for="pwd">Last name:</label>
	                        <input type="text" :class="{'is-invalid': isInvalid('lastName')}" class="form-control" id="pwd" placeholder="Doe" v-model="formData.lastName.value">
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12">
	                    <div class="form-group">
	                        <label for="sbj">Subject:</label>
	                        <input type="text" :class="{'is-invalid': isInvalid('subject')}" class="form-control" id="sbj" placeholder="What is it about?" v-model="formData.subject.value">
	                    </div>
	                </div>
				</div>
				<div class="row">
	                <div class="col-sm-12">
	                    <div class="form-group">
	                        <label for="comment">Message:</label>
	                        <textarea :class="{'is-invalid': isInvalid('msg')}" class="form-control area" rows="2" id="comment" placeholder="What's on your mind?" v-model="formData.msg.value"></textarea>
	                    </div> 
	                </div>
 				</div>
 				<br>
 				<hr>
                <div class="send-button">
                    <button type="button" class="btn btn-success" @click="send()">
                        Send <span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
         
        </div>
	</section>
</template>

<script>
	import AlertMessage from '@/components/AlertMessage.vue';
	export default {
		name: 'contact',
		components: {
			AlertMessage,

		},
		data() {
			return {
				formData: {
					firstName: {
						placeholderValue: 'John',
						value: '',
						error: '',
					},
					lastName: {
						value: '',
						error: '',
					},
					subject: {
						value: '',
						error: '',
					},
					msg: {
						value: '',
						error: '',
					},
				},
				errorFields: [],
				message: '',
			}
		},

		methods: {
			send() {
				const fields = Object.keys(this.formData);
				this.message = '';

				this.errorFields = [];

				fields.forEach((field) => {
					this.isEmpty(field);

					
						if(this.formData[field].error !== '') {
							this.errorFields.push(field);
						}
				
				});

				if (this.errorFields.length < 0) {
					this.message = 'Oh no! Errors!';
				};
			},

			isInvalid(field) {
				return this.errorFields.includes(field);
			},

			isEmpty(field) {
				this.formData[field].error = '';

				if (this.formData[field].value.trim() === '') {
					this.formData[field].error = 'Oh no! It\'s empty';
				}
			}
		},
	}
</script>