<template>
	<section>
        <div class="container">
        	<h1>Explore Our Hotels</h1>
        	<h2>Find the that suits you best!</h2><br><br>
			<input type="text" v-model="searchString">
			<hotel-item v-for="(hotel, key) in filteredHotels" :key="key" :hotel="hotel" />
		

        </div>
	</section>
</template>

<script>
	import HotelItem from '@/components/HotelItem.vue';
	import Hotel from '@/models/Hotel.js';
	import Room from '@/models/Room.js';
	import axios from 'axios';

	export default {
		name: 'explorehotels',

		components: {
			HotelItem,
		},

		data() {
			return {
				searchString: '',
				hotels: [],
				loading: true,
			};
		},

		computed: {
			filteredHotels() {
				return this.hotels.filter((hotel) => {
					return hotel.name.toLowerCase().includes(this.searchString.trim().toLowerCase());
				});
			},
		},

		mounted() {
			

		axios.get('data/data.json').then((response) => {
			this.hotels = response.data.map(Hotel.fromJSON);
			console.log(response);
		setTimeout(() => {
			this.loading = false;
		}, 1000);
});
}

	}	
</script>