<template>
	<div class="alert-message">
		<span v-text="message"></span>
	</div>
</template>

<script>
	export default {
		name: 'AlertMessage',
		props: {
			message: {
				type: String,
				required: true,
			},

		}			
	}
</script>

<style>
	.alert-message {
		background-color:#ff6464;
		border: 2px solid #ff0000;
		border-radius: .25rem;
	}

	.alert-message span {
		color:white;
	}
</style>