<template>
	<section>
		<div class="container hotel-item">
			<div class="row">
				<div class="col-sm-5">
					
				</div>
				<div class="col-sm-7">
	
						<h5>{{ hotel.name }}</h5>
						
					
						<div class="text-muted address"><i class="fas fa-location-arrow"></i> {{ hotel.address }}</div>
						<br>
						<div class="text-muted text-item">
							{{ hotel.description }}
						</div>
						 <p class="text-muted">
                            <button type="button" class="btn btn-default btn-circle btn-sm"><i class="fas fa-coffee"></i></button>
                            <button type="button" class="btn btn-default btn-circle btn-sm"><i class="fas fa-utensils"></i></button>
                            <button type="button" class="btn btn-default btn-circle btn-sm"><i class="fas fa-wifi"></i></button>
                            <button type="button" class="btn btn-default btn-circle btn-sm"><i class="fas fa-book"></i></button>
						</p>
						<br>
						<h6>Let's book a room!</h6>
						<div class="text-muted text-item">
							Hotel rooms starting at €{{hotel.rooms[0].price}},- per night.
						</div>

						<router-link to="/booking">
							<button class="btn btn-success">Book this hotel <span class="fas fa-angle-right"></span></button>
						</router-link>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		name: 'HotelItem',
		props: {
			hotel: {
					type: Object,
					required: true,
				}
			
		},

		data() {
			return {};
		}
	}
</script>

<style>
	.hotel-item {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-bottom: 30px;
	}

	h5, h6 {
		font-weight: bold;
	}

	.name {
		padding: 0;
		margin: 0;
	}

	.hotel-item .row {
		padding: 30px;
	}

	.address {
		font-size: 14px;
	}

	.text-item {
		font-size: 15px;
	}

	.fa-star {
		float: right;
	}
</style>